/* bootstrap & bootstrap-icons */
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

$primary: #6a793e;
$font-family-sans-serif: "VorwerkIcons", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@import 'bootstrap/scss/bootstrap';

:root {
  --text-gradient: #ff7e5f, #feb47b;
}

.gradient-text {
  background: linear-gradient(90deg, var(--text-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@font-face {
  font-family: "VorwerkIcons";
  src: url('./VorwerkIcons-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}